*{
    box-sizing: border-box;
    font-family: sans-serif;
    
 }
 html{

    font-size: 70%;
 }

 @media (min-width: 600px) {
    hmtl{
        font-size: 100%;
    }
 }

 .header{
    background-color: rgb(245, 247, 245);
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 15px;   
    Justify-content: space-between;
    float: left;
    
  
 }

 .footer{ 
    background-color: rgb(245, 247, 245);
    width: 100%;
    float: left;
    height: 50px;
 }

 .main{ 
    background-color:rgb(231, 231, 199);
    width: 100%;
    float: left;
    height: 1000px;
 }

.menu{
    background-color:rgb(231, 231, 199);
    width: 20%;
    float: left;
    min-height: 650px;
    margin-top: 5px;
    
    
}

.dashboard{
    background-color:rgb(231, 231, 199);
    width: 42%;
    float: left;
    min-height: 650px;
    margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;

    
  
}
.rss{
    background-color:rgb(231, 231, 199);
    width: 30%;
    float: left;
    min-height: 650px;
    margin-top: 5px;
    text-align: center;
    
}


.contenido1{

    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    margin-bottom: 25px;
    margin-left: 20px;
    min-width:150px;
    
}
.contenido1 img{
   
    height: auto;
   width: 20%;
  
   
}
.contenido2{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    margin-left: 20px;
    min-width:150px;
}
.contenido2 img{

    height: auto;
    width: 20%;
    
   
}
.general{
    position: absolute;
    width: auto;
    

}

.lm{

font-size: 150%;

}


.logo img{

height: 40px;
margin-top: 10px;
margin-right: 10px;
}
.logo{
display: flex;
align-items: center;
width: 55%;
}

@media(max-width: 700px){

.header{
    flex-direction: column;
}
}
.numero{
float: left;
width: 45%;
text-align: right;
align-items: center;

}
/*Boton adopcion*/
.adopt{
display: flex;
float: left;
min-width: 10%;
 border: 1px solid #8be7ba; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: rgba(200, 252, 200, 0.807);; /*color botón*/
color: #ffffff; /*color texto*/
text-decoration: none; /*decoración texto*/
text-transform: uppercase; /*capitalización texto*/
font-family: 'Helvetica', sans-serif; /*tipografía texto*/
border-radius: 10px; /*bordes redondos*/
}
.espacio{
float: left;
width: 3%;
}

a{
    text-decoration: none;
    color: black;
}

/*carrouse*/
.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    height: auto;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 180px;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
 
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    min-height: 400px;
   
}
.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    min-height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}
.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;

}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}
